/* #docregion , quickstart, toh */
/* Master Styles */
h1 {
  color: black;
  font-family: Cambria, Georgia, serif;
  font-size: 250%;
}
h2, h3 {
  color: #333;
  font-family: Cambria, Georgia;
  font-weight: lighter;
}
body {
  margin: 2em;
}
/* #enddocregion quickstart */
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  color: #183e90;
}
a:focus {
  text-decoration: none;
}
a:focus, a:hover {
  color: #192644;
  text-shadow: 1px 1px 1px #607D8B;
}

img {
  max-width: 100%;
}
/* #docregion toh */
/* everywhere else */
* {
  font-family: Cambria, Georgia, serif;;
}
