.container {
  margin-top: 10px;
  padding-top: 10px;
}
.logo {
  cursor: pointer;
  cursor: hand;
}
.content {
  padding: 20px;
  position: relative;
  margin-left: -1px;  /* so border lines up with border from sidebar */
}


