<div class="container">
  <header class="row">
    <div class='col-xs-3 col-sm-3 logo'>
      <figure (click)="goHome()">
        <img class='img- img-thumbnail' src="images/frog250.jpg">
      </figure>
    </div>
    <div class='col-xs-12 col-sm-9 header'>
      <h1>About
      <img class='img-responsive' src="images/mumfrog.png">
      </h1>
    </div>
  </header>
  <hr>
  <div class='row content'>
    <div class="row">
      <div class="col-xs-12 col-sm-9 text">
        <p>Mumfrog.com is a personal site that lets you learn a little bit about me... Janet Hollier.  &nbsp;It provides a window into my software development world since the end of 2010.  It takes a look at the projects I've worked on during this time and also captures techniques that I've learned and may want to reuse as I work on new projects.  For additional fun, it includes some non-technical (artsy-crafty) creations that might appeal to fellow artsy-crafters.</p>
        <p>So who am I?  Well, that would be...</p>
        <p><span class="emphasis">...a happy wife</span>.  I met my husband many years ago while working in France where we were both writing internal software systems for NCR Corporation.  He's a tech-nerd superhero with mad skills.  My goal is to be like him.</p>
        <p><span class="emphasis">...a proud mom of eight</span> (including my four-legged kids).  Three amazing and talented children, two energetic dogs and three fluffy cats.  (Yes, we vacuum a lot.)</p>
        <p><span class="emphasis">...a software and web developer</span>.  My passion for coding ignited over thirty years ago and has only grown stronger with time.  I appreciate and, therefore, strive to write clean, efficient code, and to this end, I am always working to improve my technical skills.  Coding is my favorite creative outlet and at times, is even therapeutic.  You know what they say about a tired dog being a happy dog?  Well, a tired-from-hours-of-coding Janet is a happy Janet!</p>
        <p><span class="emphasis">...a college instructor</span>.  For the past two years, I taught object-oriented programming and web development courses at two community colleges.  Teaching is fantastic -- grading is not!</p>
        <p><span class="emphasis">...a student</span>.  <i>"Never stop learning!"</i> &nbsp;Though I've graduated college twice (Decision Sciences and Computer Science), I just can't seem to get enough education.  Online courses and tutorials are the best thing since sliced bread!  I am now working my way through the catalog of courses offered by udacity.com. </p>
        <p><span class="emphasis">...a tinkerer</span>.  With so many new and evolving software development tools available, I like to create little projects that let me try the new things out -- "learning by doing".  (Yeah, ok so sometimes I do get like, <i>"Squirrel!"</i>, bouncing from project to project, because there are so-o-o many new things explore!)  &nbsp; My latest adventure involves a little Arduino, some temp sensors and a Nest thermostat.</p>
        <p><span class="emphasis">...a pseudo-artist</span>.  Though I would never claim to be a <i>true</i> artist, I have an artistic eye that enables me to design user interfaces and and create graphics needed for my projects.</p>
      </div>
      <div class="col-xs-12 inset col-sm-3 text">
        <figure>
          <img src="images/janet.jpg" class="img-responsive img-thumbnail">
          <figcaption>Janet Hollier</figcaption>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 inset col-sm-3">
        <figure>
          <img src="images/real-mumfrog.jpg" class="img-responsive img-thumbnail">
          <figcaption>The real Mumfrog</figcaption>
        </figure>
      </div>
      <div class="col-xs-12 col-sm-9">
        <p>So why Mumfrog.com instead of the more logical JanetHollier.com? <br>(Yes, the latter is more obvious and therefore, probably better -- so I should probably go lock up that domain before someone else grabs it, huh?)</p>
        <p>Aside from being fewer letters to type, 'Mumfrog'' pays homage to my silent (or should I say "mum") teammate and constant desk companion -- my ceramic frog buddy who steadfastly holds my writing implements, smiles benignly at me while I bang my head in frustration against my computer monitor and never utters a word of reproach when there's a bug in my code.  (Being a frog, it doesn't complain about bugs, it just eats them.)</p>
      </div>
    </div>
  </div>
</div>