/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #000;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.25);
}

.masthead {
  position: fixed;
  background-color: #fff;
  min-width: 100%;
  padding: 0 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 10px;
}
.masthead-nav > li > a {
  padding-right: 1em;
  padding-left: 1em;
  font-size: 16px;
  font-weight: bold;
  color: #333; /* IE8 proofing */
  color: rgba(30,30,30,.75);
  border: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: rgba(9,180,13,.5);
  border: solid #368808 2px;
  border-color: rgba(5,89,30,.1);
  border-bottom: solid #666 1px;
  border-bottom: solid rgba(5,89,30,.25) 1px;
  border-left-color: #a9a9a9;
  border-left-color: rgba(255,255,255,.75);
  border-top-color: #a9a9a9;
  border-top-color: rgba(255,255,255,.5);
}

@media (min-width: 768px) {
  .masthead-nav {
    float: right;
  }
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Handle the widths */
  .masthead {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead {
    width: 700px;
  }
}
