.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.goto {
  padding-left: 0;
}
.goto li {
  display: inline;
  margin-right: 2em;
}
.goto a:hover {
    text-decoration: none;
}
.anchor {
  color: #000;
}
.anchor:hover {
  text-decoration: none;
}
.to-top {
  clear: both;
  margin-top: 5px;
}
.to-top a:hover {
  text-decoration: none;
}
.projects {
  margin: 0 0 2em 1em;
  padding: 0;
}
.project {
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  padding: 5px;
}
.project-wrapper {
  padding: 5px;
  background-color: transparent;
}
.project-wrapper:hover {
  background-color: #b4e19e;
}
.project-panel {
  text-align: center;
  margin: 0 auto;
  background-color: #eee;
  margin: 0;
  padding: 5px;
}
.project-panel:hover {
  color: #419427;
}
.project-panel img {
  width: 100%;
}

@media (max-width: 767px) {
  .col-xs-6:nth-of-type(2n + 1) {
    clear:left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-4:nth-of-type(3n + 1) {
    clear:left;
  }
}

@media (min-width: 992px) {
  .col-md-3:nth-of-type(4n + 1) {
    clear:left;
  }
}