.container {
  margin-top: 10px;
  padding-top: 10px;
}
.sidebar {
  border-right: solid 1px #eee;
}
.sidebar-img {
  width: 100%;
}
button {
  cursor: pointer; cursor: hand;
  width: 90%;
  margin: 20px auto;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc; 
  cursor: auto;
}
.project-detail {
  margin: 0 0 2em 0;
  padding: 0;
}
.content {
  border-left: solid 1px #eee;
  padding: 20px;
  position: relative;
  margin-left: -1px;  /* so border lines up with border from sidebar */
}
.demo-content {
  width: 100%;
}
.inset {
  width: 300px;
  margin: 10px auto;
  display: block;
  clear: both;
  padding: 0;
}
.inset img {
  width: 100%;
}

