<div *ngIf="project" class="container">
  <div class="row project-detail">
    <div class='col-xs-12 col-sm-4'>
      <figure>
        <img class='sidebar-img' [src]="project.img">
        <figcaption>
          <button (click)="goBack()" class="btn btn-primary">Back</button>
        </figcaption>
      </figure>
      <h3>Technology</h3>
      <ul>
        <li *ngFor="let tech of project.technology" class="technology">{{tech}}</li>
      </ul>
    </div>
    <div class='col-xs-12 col-sm-8'>
      <h1>{{project.title}}</h1>
      <div class='desc'>{{project.description}}</div>
    </div>
  </div>
  <div class='demo'>
  </div>
</div>