<div class="container">
  <h2>My Projects</h2>
  <div class="projects clearfix">
    <div class="row grid grid-pad">
      <div *ngFor="let project of projects" (click)="goToDetail(project)" [class.selected]="project === selectedProject" class="col-xs-6 col-sm-3 project">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200"     class="img-responsive img-rounded" alt="Generic placeholder thumbnail">
        <h4>{{project.title}}</h4>
        <span class="text-muted">{{project.summary}}</span>
      </div>
    </div>
  </div>
</div>